<h1>HI There</h1>
<h2>Search Something Here</h2>


<!---//form for filing up--->
<form action="/result" method="GET">
     <input type="text" placeholder="search" name="mstr">
     <input type="submit">
</form>